<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Super dry</title>
  <!-- Loading Bootstrap -->
  <link href="/static/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Loading Flat UI -->
  <link href="/static/css/flat-ui.min.css" rel="stylesheet">
  <link href="/static/css/main.css" rel="stylesheet">
</head>

<body>
  <div class="container">
    <header class="headline">
      <h1 class="logo">
        <i class="logo-image"></i>
        Super dry
        <small class="description">洗濯物の乾き時間がわかるかもしれないアプリ</small>
      </h1>
    </header>
    <!-- /demo-headline -->
    <main class="contents">
      <p class="current">{{ sensor.temperature }}℃ <i>/</i> {{ sensor.humidity }}%</p>
      <p>あと{{ sensor.superdry_time }}分で乾くかもしれません</p>
    </main>
  </div>
</body>

</html>
